.your-info__form {
    @include flexDirection(column, null, null, null, 20px);
  }
  
  .your-info__form p {
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 400;
  }
  
  .your-info__form input {
    width: 100%;
    padding: 11px 15px;
    border: 1px solid map-get($page-colors, "--input-box-shadow");
    border-radius: 8px;
    outline: none;
    font-size: 16px;
  }